<div class='mt-4'>
    <h2>Thêm mới Slider</h2>
    <form method='POST' action='/slider/newSlider'>
        <div class='form-group'>
            <label for='image'>Hình ảnh</label>
            <input type='text' class='form-control' id='image' name='image' />
        </div>
        <button type='submit' class='btn btn-primary'>Thêm</button>
    </form>
</div>